{% extends "layout.html" %}

{% block content %}
<!-- <div class="fondo-img" style="--f:url(../static/img/background.png);"> -->
<!-- <div class="fondo-img" style="--f:url(../static/img/background.png);"> -->
<div class="fondo-patron">


    <div class="fondo-degradado p-4">
    <div class="p-5 text-light">
        <div class="row p-5 fondo-trans" style="--co:#00000080;">
            <div class="col-md-6">
                <img src="../static/img/logo_600.png" alt="NoHayLogo :[" class="logo"
                    style="width: 50%; margin:auto; display: block;">
            </div>

            <div class="col-md-6">
                <h1><b>MediCard</b></h1>
                <br>
                <h4>
                    <span>
                        Recordatorio de medicamentos para apegarse mas a los tratamientos medicos. 
                        Cuida tu salud o aquellos a los que quieres.
                    </span>
                </h4>
                <button class="btn btn-outline-light mt-4"> Descargar APK</button>
                
            </div>
        </div>
    </div>
    <div class="px-5 text-light">
        <div class="row h-25">
            <div class="col-sm-4">
                <div class="rounded h-100 mb-5 p-4 fondo-trans" style="--co:#00000080;">
                    <h2><b>Mision</b></h2>
                    <div class="bg-light pt-1"></div>
                    <div class="pt-4"><span>
                        Nuestra misión es facilitar la adherencia a la medicación,
                        mejorando así la calidad de vida y fomentando prácticas
                        de autocuidado que perduren a lo largo del tiempo.
                    </span></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="rounded h-100 mb-5 p-4 fondo-trans" style="--co:#00000080;">
                    <h2><b>Vision</b></h2>
                    <div class="bg-light pt-1"></div>
                    <div class="pt-4"><span>
                        Aspiramos a siempre relevantes en el campo de gestion de tratamientos,
                        visualizamos un mundo donde el seguimiento de los tratamientos
                        sea sencillo y efectivo, permitiendo a las personas centrarse en vivir plenamente.
                    </span></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="rounded h-100 mb-5 p-4 fondo-trans" style="--co:#00000080;">
                    <h2><b>Valores</b></h2>
                    <div class="bg-light pt-1"></div>
                    <div class="pt-4"><span>
                        Nuestros valores se centran en la empatía, la accesibilidad y la integridad.
                        Nos esforzamos por comprender las necesidades individuales, garantizando que
                        nuestras soluciones sean utiles y consientizar sobre la importancia de la salud.
                    </span></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>






<!-- 
<div class="bg-dar p-1"></div>
<footer class="g-danger p-4">
    <h4 class="text-light text-center">Corporativo Internacional Mexicano S.A de C.V</h4>
</footer> -->


<!-- <script>
    var mostrar = 0;
    var car = $('#carrucel .collapse');

    function cambiar() {
        car.eq(mostrar).slideToggle(250);
        if (mostrar != 0) { car.eq(mostrar - 1).slideToggle(250); }

        if (car.length <= mostrar) {
            car.eq(mostrar).slideToggle(250);
            mostrar = 0;
            car.eq(mostrar).slideToggle(250);
        }
        mostrar++;
    }
    setInterval(cambiar, 4000);


    //INTERESANTE
        // car.each(function(index) {
        //     var elemento = $(this);
        //     console.log(elemento);
        //     setTimeout(function() {elemento.slideToggle();}, index * 1000);
        // });
</script> -->
{% endblock content %}