{% extends "layout.html" %}

{% block content %}
<!-- <div class="fondo-img" style="--f:url(../static/img/background.png);"> -->
<div class="fondo-img" style="--f:url(../static/img/background.png);">


    <div class="fondo-degradado p-4">
    <div class="p-5 text-light">
        <div class="row p-5 fondo-trans" style="--co:#00000050;">
            <div class="col-md-6">
                <img src="../static/img/logo0.png" alt="NoHayLogo :[" class="logo">
            </div>

            <div class="col-md-6">
                <h1><b>MediCard</b></h1>
                <br>
                <h4>
                    <span>texto generico: Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent </span>
                </h4>
                <button class="btn btn-outline-light mt-4"> Descargar APK</button>
                
            </div>
        </div>
    </div>
    <div class="px-5 text-light">
        <div class="row">
            <div class="col-sm-4">
                <div class="rounded mb-5 p-4 fondo-trans" style="--co:#00000050;">
                    <h2><b>Mision</b></h2>
                    <div class="bg-light pt-1"></div>
                    <div class="pt-4"><span>Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent </span></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="rounded mb-5 p-4 fondo-trans" style="--co:#00000050;">
                    <h2><b>Mision</b></h2>
                    <div class="bg-light pt-1"></div>
                    <div class="pt-4"><span>Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent </span></div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="rounded mb-5 p-4 fondo-trans" style="--co:#00000050;">
                    <h2><b>Mision</b></h2>
                    <div class="bg-light pt-1"></div>
                    <div class="pt-4"><span>Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent </span></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>






<!-- 
<div class="bg-dar p-1"></div>
<footer class="g-danger p-4">
    <h4 class="text-light text-center">Corporativo Internacional Mexicano S.A de C.V</h4>
</footer> -->


<!-- <script>
    var mostrar = 0;
    var car = $('#carrucel .collapse');

    function cambiar() {
        car.eq(mostrar).slideToggle(250);
        if (mostrar != 0) { car.eq(mostrar - 1).slideToggle(250); }

        if (car.length <= mostrar) {
            car.eq(mostrar).slideToggle(250);
            mostrar = 0;
            car.eq(mostrar).slideToggle(250);
        }
        mostrar++;
    }
    setInterval(cambiar, 4000);


    //INTERESANTE
        // car.each(function(index) {
        //     var elemento = $(this);
        //     console.log(elemento);
        //     setTimeout(function() {elemento.slideToggle();}, index * 1000);
        // });
</script> -->
{% endblock content %}