{% extends "layout.html" %}

{% block content %}
<div class="fondo-img-w-auto" style="--f:url(../static/img/background.png);">
    <div class="p-4">
        <div class="row px-5 text-light">

            <div class="col-md-6 h-100">
                <div class="p-4 rounded text-light fondo-trans" style="--co:#00000050;">
                    <h2><b>Historia</b></h2>
                    <div class="bg-light pt-1"></div>
                    <div class="pt-4"><span>Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent
                            Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent Laurent
                            Laurent </span></div>
                </div>
            </div>

            <div class="col-md-6 h-100">
                <div class="p-4 rounded text-light fondo-trans" style="--co:#00000050;">
                    <img src="../static/img/logo0.png" alt="NoHayLogo :[" class="logo">
                </div>
            </div>

        </div>
<br>
        <div class="row px-5 text-light">
            <div class="col-md-12">
                <div class="p-4 rounded text-light fondo-trans" style="--co:#00000050;">
                    <h2><b>Equipo de desarrollo</b></h2>
                    <div class="bg-light pt-1"></div>
                    <div class="pt-4">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="p-3 rounded text-decoration-none tarjeta_desarrollador">
                                    <h4><b>Juan 1</b></h4>
                                    <img class="rounded mx-auto d-block w-75 mb-4" src="../static/img/medicamentos/url.png" alt="Imagen No Disponible">
                                    <h4><b>Desarrollador Backend</b></h4>
                                    <ul>
                                        <li>Graduado del Sabes 69</li>
                                        <li>link de linkedin</li>
                                        <li>link de face</li>
                                    </ul>
                                   
                                </div>
                            </div>
                            <div class="col-md-3">Brandon</div>
                            <div class="col-md-3">Zamora</div>
                            <div class="col-md-3">Juan 2</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}