{% extends "layout.html" %}

{% block content %}
<div class="fondo-img-w-auto" style="--f:url(../static/img/background.png);">
<!-- <div class="fondo-patron"> -->
    <div class="p-4">
        <div class="row px-5 text-light">

            <div class="col-md-6 h-100">
                <div class="p-4 rounded text-light fondo-trans" style="--co:#00000050;">
                    <h2><b>Historia</b></h2>
                    <div class="bg-light pt-1"></div>
                    <div class="pt-4"><span>
                        La inspiración detrás de nuestra aplicación móvil surgió de una experiencia personal.
                        La propuesta MediCard inicio en 2023, 
                        cuando uno de nuestros desarrolladores enfrentó
                        una gastroenteritis severa que resultó en hospitalización,
                        la gestión precisa de la medicación se volvió esencial.
                        <br><br>
                        Esta vivencia resaltó la importancia crítica de seguir fielmente los horarios de medicación,
                        algo que puede ser desafiante en medio de la agitación de la vida cotidiana.
                        <br>
                        Así nació nuestra aplicación, con la firme convicción de que la adherencia
                        a la medicación puede marcar la diferencia en la salud y el bienestar de las personas.
                    </span></div>
                </div>
            </div>

            <div class="col-md-6 h-100">
                <div class="p-4 rounded text-light fondo-trans" style="--co:#00000050;">
                    <h2><b>Nuestro Logo</b></h2>
                    <div class="bg-light pt-1"></div>
                    <span>Nuestro logo es un reloj con una cruz azul en el centro sumilando un botiquin medico, simbolizando que es un contador de tiempo para mejorar la salud.</span>
                    <br>
                    <img src="../static/img/logo_600.png" alt="NoHayLogo :[" class="logo"
                        style="width: 50%; margin:auto; display: block;"
                    >
                </div>
            </div>

        </div>
<br>
        <div class="row px-5 text-light">
            <div class="col-md-12">
                <div class="p-4 rounded text-light fondo-trans" style="--co:#00000050;">
                    <h2><b>Equipo de desarrollo: Juan'esDeveLopez</b></h2>
                    <div class="bg-light pt-1"></div>
                    <div class="pt-4">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="p-3 rounded text-decoration-none tarjeta_desarrollador">
                                    <h4><b>Juan Jose de Jesus</b></h4>
                                    <img class="rounded mx-auto d-block w-75 mb-4" src="../static/img/Equipo/Pepe.jpg" alt="Imagen No Disponible">
                                    <h4><b>Desarrollador FontEnd</b></h4>
                                    <ul>
                                        <li>Graduado del Sabes</li>
                                        <li>GitHub: IDGS804-19002285</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="p-3 rounded text-decoration-none tarjeta_desarrollador">
                                    <h4><b>Brandon</b></h4>
                                    <img class="rounded mx-auto d-block w-75 mb-4" src="../static/img/Equipo/Brandon.png" alt="Imagen No Disponible">
                                    <h4><b>Desarrollador Backend</b></h4>
                                    <ul>
                                        <li>Graduado del Sabes</li>
                                        <li>GitHub: IDGS-904-19002246</li>
                                        <li>Twitter: @Korps43</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="p-3 rounded text-decoration-none tarjeta_desarrollador">
                                    <h4><b>Miguel Angel</b></h4>
                                    <img class="rounded mx-auto d-block w-75 mb-4" src="../static/img/Equipo/zamora.jpg" alt="Imagen No Disponible">
                                    <h4><b>Desarrollador web</b></h4>
                                    <ul>
                                        <li>Graduado del CBTIS</li>
                                        <li>GitHub: IDGS-901-19002274</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="p-3 rounded text-decoration-none tarjeta_desarrollador">
                                    <h4><b>Juan Jose</b></h4>
                                    <img class="rounded mx-auto d-block w-75 mb-4" src="../static/img/Equipo/juan.jpg" alt="Imagen No Disponible">
                                    <h4><b>Desarrollador web</b></h4>
                                    <ul>
                                        <li>Graduado del Cbtis225</li>
                                        <li>GitHub: IDGS-904-19002275 </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}