@font-face {
    font-family: 'Nunito';
    src: url('../static/founts/Nunito-Regular.ttf') format('truetype');
}

body {
    font-family: 'Nunito', Arial, sans-serif;
}
  
  /* h1 {
    font-family: 'Nunito', sans-serif;
  } */

.icons-redes{
    margin: 4px;
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-right: 8px;
    font-size: 1.5rem;color:aqua
}
#form .bg-danger{
    background-color: rgba(250,0,0,0.5);
    
}
.user_name{
    /* background-color: aqua; */
    background: linear-gradient(to right, #ffffff,60%, #00000000);
    color: black;
    border-radius: 32px 32px 32px 8px;

}

/* 
    .slide-in-up {
      animation: slideIn 0.5s ease;
        animation: slideInUp 0.5s ease;
        
    }

    @keyframes slideIn {
        from {
            transform: translateY(-100%);
        }
        to {
            transform: translateY(0);
        }
    }
 */
