.fondo-img{
    height: 720px;
    width: 100%;
    background-size: 100% 100%;
    background-image: var(--f);
}
.fondo-trans{
    background-color: var(--co);
}

.bg-azul{
    background-color: aqua;
}
.fondo-degradado{
    background: linear-gradient(to bottom right, #ffffff,80%, #00000000);
}