.tarjeta {
    width: 24%;
    position: relative;
    display: inline-block;

    transition: height 0.5s ease-out,width 0.5s ease-out;   
}
.tarjeta h4{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tarjeta:hover ,.tarjeta_desarrollador:hover{
    background-color: rgba(0, 0, 0, 0.8);
    transition-duration: 0.5s;
}
.tarjeta img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.tarjeta .esconder,.tarjeta_desarrollador .esconder{
    position: absolute;
    top: 8px;
    left: 0px;
    padding: 8px 8px;
    color: white;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    opacity: 0;
    width: 0%;
    transition: 0.5s all ease;
}
.tarjeta:hover .esconder,
.tarjeta:active .esconder,

.tarjeta_desarrollador:hover .esconder,
.tarjeta_desarrollador:active .esconder{
    opacity: 1;
    width: 80%;

    transition-duration: 0.5s;
    transition: 0.5s all ease;
}

.esconder2{
    position: absolute;
    top: 60%;
    left: 0px;
    padding: 8px 8px;
    color: white;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    opacity: 1;
    width: 80%;
    transition: 0.5s all ease;
}