<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <link rel="shortcut icon" href="../static/img/logo_64.png">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <!-- JQUERY -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"> -->
    
    <!-- <link href="https://fonts.cdnfonts.com/css/cubano" rel="stylesheet"> -->


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
    <link rel="stylesheet" href="../static/estilo.css">
    <link rel="stylesheet" href="../static/tabla.css">
    <link rel="stylesheet" href="../static/inputs.css">
    <link rel="stylesheet" href="../static/fondo.css">
    <!-- ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


    <link rel="stylesheet" href="https://pyscript.net/releases/2023.11.1/core.css" />
    <script type="module" src="https://pyscript.net/releases/2023.11.1/core.js"></script>
    

    <title>MediCard</title>
</head>

<body>
    <div>

        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <div class="navbar-brand p-0">
                <img src="../static/img/logo_64.png" style="height: 40px;margin-left: 40px;" alt="NoLogo">
            </div>
            <button class="navbar-toggler" onclick="$('#navbarNav').slideToggle(250);">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarNav">

                <ul class="navbar-nav me-auto">
                    <li class="nav-item"><a class="nav-link" href="/index">Inicio</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/medicamentos">Medicamentos</span></a></li>
                    {% if current_user.is_authenticated %}
                    {% if current_user.rol == 'ADMIN' %}
                    <li class="nav-item"><a class="nav-link" href="/dashboard">Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/usuarios">Usuarios</span></a></li>
                    {%endif%}
                    {%endif%}
                    <li class="nav-item"><a class="nav-link" href="/nosotros">Nosotros</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/opina">Danos tu opinion</span></a></li>

                </ul>

                <ul class="navbar-nav mr-auto">
                    {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="login">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="singup">Crear Cuenta</a>
                    </li>
                    
                    {%endif%}
                    {% if current_user.is_authenticated  %}
                    <li class="nav-item float-end">
                        <a class="nav-link" href="usuarios_detalles">Mi Cuenta</a>
                    </li>
                    <li class="nav-item float-end">
                        <a class="nav-link" href="logout">Cerrar Sesión</a>
                    </li>
                    {%endif%}
                </ul>

            </div>
        </nav>




    </div>

    <div style="height:90%;width: 100%; background-color: black;">
    <div class="bg-azul pt-1"></div>
        {% block content %}

        {% endblock %}
        <div class="bg-azul pt-1"></div>
        <footer class="bg-dark p-5">
            <div class="row text-light">

                <div class="col-md-2"></div>
                <div class="col-md-4">
                    <h6>Contactanos</h6>
                    <ul>
                        <li>Blvd. Universidad Tecnológica #225 Col. San Carlos</li>
                        <li>CP. 37670 León, Gto. Mex.</li>
                        <li>Tel +52 (477) 0123 456</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h6>Redes Sociales</h6>
                    
                    <a href="https://www.facebook.com/">
                        <div class="icons-redes">
                            <i class="bi bi-facebook"></i>
                        </div>
                    </a>

                    <a href="https://twitter.com/">
                        <div class="icons-redes">
                            <i class="bi bi-twitter-x"></i>
                        </div>
                    </a>

                    <a href="https://www.instagram.com/">
                        <div class="icons-redes">
                            <i class="bi bi-instagram"></i>
                        </div>
                    </a>
                </div>
                <div class="col-md-2"></div>
            </div>

        </footer>
    </div>

</body>

<!-- <script>
const fechaActual = new Date();
const fechaEnFormatoDeseado = fechaActual.getFullYear()+'-'+String(fechaActual.getMonth() + 1).padStart(2, '0');
$('#ventas')[0].href = 'ventas?f='+fechaEnFormatoDeseado;
</script> -->