{% extends "layout.html" %}

{% block content %}
<div class="bg-light p-1"></div>


<div class="h-100 fondo" style="--f:url(../static/img/fondo1.jpg)">
    <div class="row producto">
        <h1 class="text-light text-center" style="font-family: 'Cubano', sans-serif;">Contáctenos</h1>

        <!-- <div class="col-sm-4 px-2">
            <ul class="text-light mx-4 p-4 bg-opacity" style="--co:#00000080;">
                <b>
                    <li>Fundación: 26 de septiembre de 2020</li>
                    <li>Ubicación: Blvd. Universidad Tecnológica 227, Universidad Tecnologica, San Carlos la Roncha, 37670 León, Gto.</li>
                    <li>Lema: Crujiente o suave, dulce o salado debe hacerse y saber bien</li>
                    <li>Telefono: +52 477 000 123</li>
                </b>
            </ul>

        </div>

        <div class="col-sm-7 px-2">
            <div class="rounded mx-4 p-4 bg-opacity" style="--co:#00000080;">
                <span class="text-light"><b>
                        Gayeto's es el mayor fabricante de galletas en la región del Bajio en México.
                        La empresa fue fundada en 2020 con el nombre de "Galleto Galletas" y posteriormente
                        renombrada como "Gayeto's" a inicios de 2023.
                        Gayeto's distribuye sus productos a gran parte de Centro y Sudamérica America,
                        las galletas que esta empresa fabrica estan presentas en tiendas más grandes donde
                        cualquiera puede adquirirlas y disfrutarlas.
                    </b></span>
            </div>
        </div> -->

        <div class="row">
            <div class="col-12">
                <div class="rounded mx-4 p-4 bg-opacity" style="--co:#00000080;">
                    <span class="text-light"><b>
                            Misión: En Gayeto`s, nuestra misión es brindar productos de alta calidad y deliciosos sabores a
                            nuestros clientes, siempre con un servicio excepcional y una atención al cliente
                            personalizado. Buscamos ser una empresa innovadora, comprometida con la
                            satisfacción de nuestros clientes y el crecimiento sostenible de nuestra empresa
                        </b></span>
                </div>

                <div class="rounded mx-4 p-4 bg-opacity" style="--co:#00000080;">
                    <span class="text-light"><b>
                            Vision: Nuestra visión es ser una de las empresas líderes en la industria de las galletas en la
                            región de León, Guanajuato, reconocidos por nuestros productos de alta calidad y por la
                            excelencia en el servicio al cliente. Buscamos expandir nuestra presencia en el mercado,
                            adaptarnos a las nuevas tendencias y tecnologías, y ser una empresa sostenible en el
                            tiempo
                        </b></span>
                </div>

                <div class="rounded mx-4 p-4 bg-opacity" style="--co:#00000080;">
                    <span class="text-light"><b>
                            <h4>Valores:</h4>
                            <ul>
                                <li>Calidad: Nos enfocamos en ofrecer productos de la más alta calidad, con
                                    ingredientes frescos y naturales, y procesos cuidadosamente supervisados para
                                    garantizar la excelencia de nuestros productos.</li>
                                <li>
                                    Atención al cliente: Valoramos a nuestros clientes y nos esforzamos por
                                    ofrecerles un servicio excepcional, personalizado y amigable, para que siempre
                                    se sientan bienvenidos en nuestra empresa.
                                </li>
                            </ul>
                            

                        </b></span>
                </div>
            </div>
        </div>

    </div>

</div>


<footer class="g-danger p-4">
    <h4 class="text-center text-light">Corporativo Internacional Mexicano S.A de C.V</h4>
</footer>
{% endblock content %}